<h2 mat-dialog-title>Cadastro de novo produto</h2>
<mat-dialog-content>
  <div fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Preço" type="number" class="example-right-align" [(ngModel)]="product.price" name="price">
      <span matPrefix>R$&nbsp;</span>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true" (click)="createProduct()">Cadastrar</button>
</mat-dialog-actions>
