<h2 mat-dialog-title>Cadastro de novo produto</h2>
<mat-dialog-content>
  <div fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput min="0" placeholder="Preço" type="number" class="example-right-align" [(ngModel)]="product.price" name="price">
      <span matPrefix>R$&nbsp;</span>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Promoção</mat-label>
      <mat-select [(value)]="product.promotion">
        <mat-option *ngFor="let promotion of promotions" [value]="promotion">
          {{promotion.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end stretch">
  <button mat-stroked-button mat-dialog-close>Cancelar</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-flat-button [mat-dialog-close]="true" (click)="createProduct()" *ngIf="!modeEdit" color="primary">Cadastrar</button>
  <button mat-flat-button [mat-dialog-close]="true" (click)="updateProduct()" *ngIf="modeEdit" color="primary">Atualizar</button>
</mat-dialog-actions>
