<div class="fab-container">
  <button mat-fab class="fab-toggler">
    <mat-icon>add</mat-icon>
  </button>
  <div>
    <button mat-mini-fab
            class="fab-secondary"
            color="secondary"
            (click)="openDialog()">
      <i class="material-icons">inbox</i>
    </button>
    <button mat-mini-fab
            class="fab-secondary"
            color="secondary"
            (click)="openDialog()">
      <i class="material-icons">card_giftcard</i>
    </button>
  </div>
</div>
