<mat-toolbar role="heading" color="warn">
  <span [routerLink]="['/']">Siteware e-commerce</span>

  <span class="example-fill-remaining-space"></span>

  <span>
    <button matTooltip="Dashboard"
        matTooltipPosition="below" mat-icon-button [routerLink]="['/dashboard']">
      <mat-icon>dashboard</mat-icon>
    </button>
    <button matTooltip="Cart"
        matTooltipPosition="below" mat-icon-button [routerLink]="['/checkout']">
      <mat-icon [matBadgeHidden]="getOrderSize() == 0" [matBadge]="getOrderSize()" matBadgePosition="after" matBadgeColor="success">shopping_cart</mat-icon>
    </button>
  </span>
</mat-toolbar>
