<mat-toolbar role="heading" color="primary">
  <span>Siteware e-commerce</span>

  <span class="example-fill-remaining-space"></span>

  <span>
    <button matTooltip="Dashboard"
        matTooltipPosition="below" mat-icon-button [routerLink]="['/dashboard']">
      <mat-icon>dashboard</mat-icon>
    </button>
    <button matTooltip="Cart"
        matTooltipPosition="below" mat-icon-button>
      <mat-icon matBadge="8" matBadgePosition="after" matBadgeColor="accent">shopping_cart</mat-icon>
    </button>
  </span>
</mat-toolbar>
